{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>

        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass"><br><br>

        <input type="submit" name="submit" value="Submit">
        <input type="submit" name="back" value="Back">
    </form>
{% endblock %}

{% block error_msg %}{% endblock %}